[submodule "pelican-clean-blog"]
	path = pelican-clean-blog
	url = git@github.com:nicokosi/pelican-clean-blog.git
[submodule "output"]
	path = output
	url = git@github.com:nicokosi/nicokosi.github.io.git
[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo.git
