on: push
name: Build and Deploy on GitHub Pages
jobs:
  build:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - name: checkout
        uses: actions/checkout@v6
      - name: build_and_deploy
        uses: shalzz/zola-deploy-action@master
        env:
          PAGES_BRANCH: master
          TOKEN: ${{ secrets. DEPLOY_TOKEN }}
          REPOSITORY: nicokosi/nicokosi.github.io
